<!-- Table Page Container -->
<div class="taple-page w-100" style="background-color: white;">
  <div class="container-fluid py-3">
    
    <!-- PrimeNG Table -->
    <p-table
      class="borderless-table"
      [value]="bodyData"
      [paginator]="true"
      [rows]="rows"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[]" 
    >
      
      <!-- Table Header -->
      <ng-template #header>
        <tr>
          @for (item of headerData; track $index) {
            <th style="width: 25%">{{ item.tableUser }}</th>
            <th style="width: 15%">{{ item.FirstDate }}</th>
            <th style="width: 15%">{{ item.cancelingDay }}</th>
            <th style="width: 20%">{{ item.hr }}</th>
            <th style="width: 10%">{{ item.localMinutes }}</th>
            <th style="width: 10%">{{ item.glopalMinutes }}</th>
            <th style="width: 10%">{{ item.amount }}</th>
          }
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template #body let-tableData>
        <tr>
          <!-- Company Name with Tooltip -->
          <td pTooltip="الشركة الألمانية لابادة الحشرات" tooltipPosition="top" hideDelay="500">
            <img [src]="companyImage" width="20%" class="flag" alt="AlordonImg">
            {{ tableData.name }}
          </td>
          <!-- Table Data Columns -->
          <td>{{ tableData.startdate }}</td>
          @if(tableData.enddate!==""){
            <td>{{ tableData.enddate }}</td>
          }@else
          {
            <td>-</td>
          }
          <td>{{ tableData.manager }}</td>
          <td>{{ tableData.globalMinutes }}</td>
          <td>{{ tableData.localMinutes }}</td>
          <td>{{ tableData.amount }}</td>
        </tr>
      </ng-template>

      <!-- Custom Paginator (Left Side) -->
      <ng-template pTemplate="paginatorleft">
        <div class="pagination-controls">
          <span class="custom-text">عرض</span>
          <!-- Rows Per Page Dropdown -->
          <p-select
            [options]="rowsOptions"
            [(ngModel)]="rows"
            (onChange)="onRowsChange($event)"
            optionLabel="label"
            optionValue="value"
            placeholder="Select rows"
            class="custom-dropdown"
          ></p-select>
          <span class="custom-text">من اصل {{ totalRecords }}</span>
        </div>
      </ng-template>

    </p-table>
  </div>
</div>